<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Monitoring System</title>
    <link rel="stylesheet" href="monitor.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.plot.ly/plotly-2.35.0.min.js" charset="utf-8"></script>
  </head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="#secWelcome">Inicio</a></li>
                <li><a href="#secDispositivos">Dispositivos conectados</a></li>
                <li><a href="#secTemperatura">Temperatura y humedad</a></li>
                <li><a href="#secProximidad">Proximidad</a></li>
                <li><a href="#secLuz">Luz</a></li>
            </ul>
        </nav>
    </header>
    
    <main id="data">
        <section id="secWelcome">
            <h1>{{ titulo }}</h1>
            <p>{{ parrafo }}</p>
        </section>

        <section id="secDispositivos">
            <h2>Red y dispositivos conectados</h2>
            <div class="feature-item">
                <h3>Red actual</h3>
                <p v-if="red === 'Buscando red...'">
                    <span class="loading-animation">Buscando red</span>
                    <span class="dots">...</span>
                </p>
                <p v-else>{{ red }}</p>
            </div>
            <button :hidden="red === 'Buscando red...'" id="buscarDispositivos" @click="obtenerDispositivosConectados">Escanear los dispositivos conectados</button>
            <h3>Dispositivos conectados</h3>
            <div id="grupo_tarjetas" class="cards-container">
              <!-- Las tarjetas se agregarán dinámicamente aquí -->
            </div>
        </section>

        <section id="secTemperatura">
            <h2>Sensor DHT22</h2>
            <div class="feature-item">
                <h3>Temperatura</h3>
                <p v-if="temperatura === 'Buscando datos...'">
                    <span class="loading-animation">Buscando datos</span>
                    <span class="dots">...</span>
                </p>
                <p v-else>{{ temperatura }}</p>
                <div id="chart_temp"></div>
            </div>
            <div class="feature-item">
                <h3>Humedad</h3>
                <p v-if="humedad === 'Buscando datos...'">
                    <span class="loading-animation">Buscando datos</span>
                    <span class="dots">...</span>
                </p>
                <p v-else>{{ humedad }}</p>
                <div id="chart_humed"></div>
            </div>
        </section>

        <section id="secProximidad">
            <h2>Sensor MD-SR04</h2>
            <div class="feature-item">
                <h3>Proximidad</h3>
                <p v-if="distancia === 'Buscando datos...'">
                    <span class="loading-animation">Buscando datos</span>
                    <span class="dots">...</span>
                </p>
                <p v-else>{{ distancia }}</p>
                <div id="chart_dist"></div>
            </div>
        </section>

        <section id="secLuz">
            <h2>Sensor TSL-2561</h2>
            <div class="feature-item">
                <h3>Luz</h3>
                <p v-if="luz === 'Buscando datos...'">
                    <span class="loading-animation">Buscando datos</span>
                    <span class="dots">...</span>
                </p>
                <p v-else>{{ luz }}</p>
                <div id="chart_luz"></div>
            </div>
        </section>

        <footer>
            <p>&copy; 2024 Sistema de Monitoreo</p>
        </footer>
    </main>

    <script src="monitor.js"></script>
    <script src="notificaciones.js"></script>
</body>
</html>
